<h4>항목 체크</h4>
<div class="row">
  <label>항목 증감</label>
  <button type="button" (click)="onChangeCnt('+')">+</button>
  <button type="button" (click)="onChangeCnt('-')">-</button>
</div>
<div class="row">
  <span *ngFor="let item of checkList; let i = index">
  <label for="chk-{{i + 1}}">{{item}}</label>
  <input type="checkbox" id="chk-{{i + 1}}" (click)="onChecked($event, i)" [(ngModel)]="checkedResult[i]" />
</span>
</div>
<cc-check-list-result [itemEvent]="curItemEvent"
  (onSelectedToRemoveItem)="removeCheckedItem($event)"></cc-check-list-result>